* {
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
  /* background-color: #efefef; */
  font-size: 16px;
}

h1 {
  font-size: 200%;
}

header {
  display: flex;
  background-color: #656565;
  justify-content: space-between;
}

.title {
  display: flex;
  /* flex-direction: column; */
  justify-content: flex-end;
  align-items: flex-end;
  /* border: 2px solid black; */
  color: #ff8d27;
  font-size: 150%;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 10px;
  /* border: 2px solid black; */
  width: 500px;
}

a {
  padding: 5px;
  color: #ff8d27;
  text-decoration: none;
}

/* main {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border: red solid 5px;
} */

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-wrap: wrap;
  max-width: 800px;
  border: solid green 5px;
}

.leftcolumn {
  display: flex;
  justify-content: flex-end;
  border: solid blue 5px;
}

aside {
  display: flex;
  width: 25%;
  border: green solid 5px;
}
