* {
  box-sizing: border-box;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  margin: 0;
}

:root {
  --gatoOrange: #ff8d27;
  --color0: #373636;
  --color2: #656565;
  --highlightColor: #efefef;
  --backgroundColor: white;
  --textColor: black;
}

h1 {
  font-size: 200%;
}

h2 {
  font-size: 200%;
}

header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

nav {
  display: flex;
  margin-top: 100px;
  padding: 20px;
  color: var(--textColor);
}

#navLink {
  margin: 20px;
}

#navLink:hover {
  color: var(--gatoOrange);
  border-bottom: solid var(--gatoOrange) 3px;
}

.logo-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

#logo {
  padding-top: 20px;
}

.companyName {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 250%;
  color: var(--textColor);
}

a {
  padding: 10px;
  font-size: 130%;
  color: var(--textColor);
  text-decoration: none;
}

footer {
  display: flex;
  height: 20%;
  /* background-color: var(--gatoOrange);
  color: var(--highlightColor); */
  justify-content: center;
  font-size: 50%;
  padding-top: 5px;
  /* border-top: black 3px solid; */
}

@media screen and (max-width: 768px) {
  header,
  nav,
  .row-1,
  .row-2,
  .row-3,
  footer,
  .sideTitle,
  .logo-container,
  .projects,
  .imageContainer,
  .showcaseContainer {
    border: none;
    height: fit-content;
    flex-direction: column;
    padding: none;
  }
}

@media screen and (max-width: 768px) {
  a #projectImage {
    height: 10%;
  }
}
